@import 'scss/_mixins';
@import 'scss/_variables';

@-webkit-keyframes slide-out {
  100% {
    right: 0px;
  }
}

@keyframes slide-out {
  100% {
    right: 0px;
  }
}

.checkout {
  background-color: $white;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 99990;
  box-shadow: none;

  &.slide-out {
    -webkit-animation: slide-out 0.5s forwards;
    animation: slide-out 0.5s forwards;
    box-shadow: -0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
    display: flex;
  }

  @include for-phone-only {
    width: 300px;
    height: calc(100vh - 60px);
    top: 60px;
    right: -300px;
  }
  @include for-tablet-portrait-up {
    width: 300px;
    height: calc(100vh - 60px);
    top: 60px;
    right: -300px;
  }
  @include for-tablet-landscape-up {
    width: 400px;
    height: calc(100vh - 60px);
    top: 60px;
    right: -500px;
  }
  @include for-desktop-up {
    width: 500px;
    height: calc(100vh - 80px);
    top: 80px;
    right: -500px;
  }
}

.checkout__cart {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;

  @include for-phone-only {
    height: calc(100% - 150px);
    padding: 0 10px;
  }
  @include for-tablet-portrait-up {
    height: calc(100% - 150px);
    padding: 0 10px;
  }
  @include for-tablet-landscape-up {
    height: calc(100% - 150px);
    padding: 0 20px;
  }
  @include for-desktop-up {
    height: calc(100% - 270px);
    padding: 0 30px;
  }
}

.checkout__cart__empty {
  @include primary-title($transparent-black, 1.5rem, Montserrat-Regular, 2rem);

  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.checkout__action {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include for-phone-only {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  @include for-tablet-portrait-up {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  @include for-tablet-landscape-up {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  @include for-desktop-up {
    padding: 0 30px;
    margin-bottom: 30px;
  }
}

.checkout__action__summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  @include for-phone-only {
    height: 40px;
  }
  @include for-tablet-portrait-up {
    height: 40px;
  }
  @include for-tablet-landscape-up {
    height: 40px;
  }
  @include for-desktop-up {
    height: 80px;
  }

  & span {
    @include for-phone-only {
      @include primary-title($black, 1.5rem, Montserrat-Regular);
    }
    @include for-tablet-portrait-up {
      @include primary-title($black, 1.5rem, Montserrat-Regular);
    }
    @include for-tablet-landscape-up {
      @include primary-title($black, 2rem, Montserrat-Regular);
    }
    @include for-desktop-up {
      @include primary-title($black, 2.5rem, Montserrat-Regular);
    }
  }
}
